!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title StreetWars Stats
    %link{rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'}
  %body
    .container
      | yeah yeah yeah
