!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title StreetWars Stats
  %body
    woo yeah
    - fucktards.each do |fucktard|
      %strong
        @#{fucktard[:screen_name]}
      %p=fucktard[:text]
